<h2 style='background:#FFFFFF; border:0; color:black'><center>Titanic: <span style="color:red">EDA</span> and <span style="color:blue">Data Visualization</span><center><h2>

![](https://upload.wikimedia.org/wikipedia/commons/f/fd/RMS_Titanic_3.jpg)
* [Image Source](https://en.wikipedia.org/wiki/Titanic)

* In this notebook, we visualize and analyze titanic data by using Plotly.
* If you like this notebook, please **give an upvote!**.
* Reference:  [Plotly Official Website](https://plotly.com/)

<h2 style='background:#FFFFFF; border:0; color:black'><center>What is "Plotly"?<center><h2>

* **Plotly** is one of the most popular data visualization library.
* Among kagglers, matplotlib or seaborn are more popular, but I recommend Plotly.
* This is because that you can draw beautiful graphs easily by using Plotly.

In [1]:
'''import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))'''

"import os\nfor dirname, _, filenames in os.walk('/kaggle/input'):\n    for filename in filenames:\n        print(os.path.join(dirname, filename))"

# import libraries

In [3]:
pip install numpy

Collecting numpy
  Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl.metadata (59 kB)
Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.6 MB 2.8 MB/s eta 0:00:05
   --- ------------------------------------ 1.0/12.6 MB 3.0 MB/s eta 0:00:04
   ----- ---------------------------------- 1.8/12.6 MB 3.2 MB/s eta 0:00:04
   -------- ------------------------------- 2.6/12.6 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/12.6 MB 3.3 MB/s eta 0:00:03
   ---------- ----------------------------- 3.4/12.6 MB 3.1 MB/s eta 0:00:03
   ------------ --------------------------- 3.9/12.6 MB 2.9 MB/s eta 0:00:03
   -------------- ------------------------- 4.5/12.6 MB 2.7 MB/s eta 0:00:03
   --------------- ------------------------ 5.0/12.6 MB 2.7 MB/s eta 0:00:03
   ----------------- ---------------------- 5.5/12.6 MB 2.7 MB/s eta 0:00:03
   ------------------- -------------------- 6.0/12.6 MB 2.6 MB/s eta 0:00:03
   -------------------- ------------------- 6.6/12.6 MB 2.6 MB/s eta 0:00:03
   --------------------- ------------------ 6.8/12.6 MB 2.6 MB/s eta 0:00:03
   ------------------------ --------------- 7.6/12.6 MB 2.6 MB/s eta 0:00:02
   ------------------------- -------------- 8.1/12.6 MB 2.6 MB/s eta 0:00:02
   --------------------------- ------------ 8.7/12.6 MB 2.6 MB/s eta 0:00:02
   ------------------------------ --------- 9.4/12.6 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 10.0/12.6 MB 2.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.5/12.6 MB 2.7 MB/s eta 0:00:01
   ----------------------------------- ---- 11.0/12.6 MB 2.7 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 2.7 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 2.6 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sonas\sonasoni\envs\cv_lab\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sonas\sonasoni\envs\cv_lab\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sonas\sonasoni\envs\cv_lab\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\sonas\sonasoni\envs\cv_lab\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 541.6 kB/s eta 0:00:21
   - -------------------------------------- 0.5/11.5 MB 541.6 kB/s eta 0:00:21
   -- ------------------------------------- 0.8/11.5 MB 569.3 kB/s eta 0:00:19
   -- ------------------------------------- 0.8/11.5 MB 569.3 kB/s eta 0:00:19
   --- ------------------------------------ 1.0/11.5 MB 585.6 kB/s eta 0:00:18
   ---- ----------------------------------- 1.3/11.5 MB 610.3 kB/s eta 0:00:17
   ---- ----------------------------------- 1.3/11.5 MB 610.3 kB/s eta 0:00:17
   ----- ---------------------------------- 1.6/11.5 MB 612.5 kB/s eta 0:00:17
   ----- ---------------------------------- 1.6/11.5 MB 612.5 kB/s eta 0:00:17
   ------ --------------------------------- 1.8/11.5 MB 610.1 kB/s eta 0:00:16
   ------ --------------------------------- 1.8/11.5 MB 610.1 kB/s eta 0:00:16
   ------- -------------------------------- 2.1/11.5 MB 621.4 kB/s eta 0:00:16
   ------- -------------------------------- 2.1/11.5 MB 621.4 kB/s eta 0:00:16
   -------- ------------------------------- 2.4/11.5 MB 630.2 kB/s eta 0:00:15
   --------- ------------------------------ 2.6/11.5 MB 645.3 kB/s eta 0:00:14
   --------- ------------------------------ 2.6/11.5 MB 645.3 kB/s eta 0:00:14
   ---------- ----------------------------- 2.9/11.5 MB 660.6 kB/s eta 0:00:14
   ---------- ----------------------------- 3.1/11.5 MB 676.1 kB/s eta 0:00:13
   ---------- ----------------------------- 3.1/11.5 MB 676.1 kB/s eta 0:00:13
   ----------- ---------------------------- 3.4/11.5 MB 673.5 kB/s eta 0:00:13
   ----------- ---------------------------- 3.4/11.5 MB 673.5 kB/s eta 0:00:13
   ------------ --------------------------- 3.7/11.5 MB 677.4 kB/s eta 0:00:12
   ------------ --------------------------- 3.7/11.5 MB 677.4 kB/s eta 0:00:12
   ------------- -------------------------- 3.9/11.5 MB 686.9 kB/s eta 0:00:12
   -------------- ------------------------- 4.2/11.5 MB 707.0 kB/s eta 0:00:11
   --------------- ------------------------ 4.5/11.5 MB 717.8 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.5 MB 733.2 kB/s eta 0:00:10
   ----------------- ---------------------- 5.0/11.5 MB 747.6 kB/s eta 0:00:09
   ------------------ --------------------- 5.2/11.5 MB 760.9 kB/s eta 0:00:09
   ------------------- -------------------- 5.5/11.5 MB 778.6 kB/s eta 0:00:08
   ------------------- -------------------- 5.5/11.5 MB 778.6 kB/s eta 0:00:08
   -------------------- ------------------- 6.0/11.5 MB 807.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.3/11.5 MB 819.3 kB/s eta 0:00:07
   ---------------------- ----------------- 6.6/11.5 MB 830.2 kB/s eta 0:00:06
   ----------------------- ---------------- 6.8/11.5 MB 842.3 kB/s eta 0:00:06
   ------------------------ --------------- 7.1/11.5 MB 855.4 kB/s eta 0:00:06
   ------------------------- -------------- 7.3/11.5 MB 866.2 kB/s eta 0:00:05
   -------------------------- ------------- 7.6/11.5 MB 878.1 kB/s eta 0:00:05
   --------------------------- ------------ 7.9/11.5 MB 883.0 kB/s eta 0:00:05
   ---------------------------- ----------- 8.1/11.5 MB 892.5 kB/s eta 0:00:04
   ---------------------------- ----------- 8.1/11.5 MB 892.5 kB/s eta 0:00:04
   ----------------------------- ---------- 8.4/11.5 MB 896.8 kB/s eta 0:00:04
   ------------------------------ --------- 8.7/11.5 MB 902.4 kB/s eta 0:00:04
   ------------------------------ --------- 8.9/11.5 MB 910.6 kB/s eta 0:00:03
   ------------------------------- -------- 9.2/11.5 MB 906.9 kB/s eta 0:00:03
   -------------------------------- ------- 9.4/11.5 MB 917.5 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 923.6 kB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.5 MB 932.1 kB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.5 MB 939.0 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 945.6 kB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.5 MB 945.3 kB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 950.1 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 957.4 kB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 963.3 kB/s eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2024.2

In [7]:
pip install plotly

Collecting plotlyNote: you may need to restart the kernel to use updated packages.

  Downloading plotly-5.24.1-py3-none-any.whl.metadata (7.3 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Downloading tenacity-9.0.0-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: packaging in c:\users\sonas\sonasoni\envs\cv_lab\lib\site-packages (from plotly) (24.1)
Downloading plotly-5.24.1-py3-none-any.whl (19.1 MB)
   ---------------------------------------- 0.0/19.1 MB ? eta -:--:--
    --------------------------------------- 0.3/19.1 MB ? eta -:--:--
   - -------------------------------------- 0.8/19.1 MB 2.2 MB/s eta 0:00:09
   -- ------------------------------------- 1.0/19.1 MB 2.2 MB/s eta 0:00:09
   --- ------------------------------------ 1.8/19.1 MB 2.3 MB/s eta 0:00:08
   ---- ----------------------------------- 2.4/19.1 MB 2.4 MB/s eta 0:00:07
   ------ --------------------------------- 2.9/19.1 MB 2.5 MB/s eta 0:00:07
   ------- -------------------------------- 3.7/19.1 MB 2.6 MB/s eta 0:00:06
   --------- ------------------------------ 4.5/19.1 MB 2.8 MB/s eta 0:00:06
   ---------- ----------------------------- 5.0/19.1 MB 2.8 MB/s eta 0:00:06
   ----------- ---------------------------- 5.2/19.1 MB 2.6 MB/s eta 0:00:06
   ------------ --------------------------- 5.8/19.1 MB 2.6 MB/s eta 0:00:06
   ------------- -------------------------- 6.6/19.1 MB 2.7 MB/s eta 0:00:05
   -------------- ------------------------- 6.8/19.1 MB 2.7 MB/s eta 0:00:05
   --------------- ------------------------ 7.6/19.1 MB 2.7 MB/s eta 0:00:05
   ----------------- ---------------------- 8.4/19.1 MB 2.8 MB/s eta 0:00:04
   ------------------- -------------------- 9.2/19.1 MB 2.8 MB/s eta 0:00:04
   -------------------- ------------------- 9.7/19.1 MB 2.8 MB/s eta 0:00:04
   --------------------- ------------------ 10.2/19.1 MB 2.8 MB/s eta 0:00:04
   ---------------------- ----------------- 10.7/19.1 MB 2.8 MB/s eta 0:00:04
   ----------------------- ---------------- 11.3/19.1 MB 2.7 MB/s eta 0:00:03
   ------------------------ --------------- 11.8/19.1 MB 2.8 MB/s eta 0:00:03
   -------------------------- ------------- 12.6/19.1 MB 2.8 MB/s eta 0:00:03
   --------------------------- ------------ 13.1/19.1 MB 2.8 MB/s eta 0:00:03
   ---------------------------- ----------- 13.6/19.1 MB 2.8 MB/s eta 0:00:02
   ----------------------------- ---------- 14.2/19.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 14.9/19.1 MB 2.8 MB/s eta 0:00:02
   ------------------------------- -------- 15.2/19.1 MB 2.8 MB/s eta 0:00:02
   --------------------------------- ------ 15.7/19.1 MB 2.7 MB/s eta 0:00:02
   ---------------------------------- ----- 16.5/19.1 MB 2.8 MB/s eta 0:00:01
   ----------------------------------- ---- 17.0/19.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 17.6/19.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 18.1/19.1 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  18.6/19.1 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 19.1/19.1 MB 2.7 MB/s eta 0:00:00
Downloading tenacity-9.0.0-py3-none-any.whl (28 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.24.1 tenacity-9.0.0

In [8]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

# Reading csv files

In [9]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [12]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

<h2 style='background:#FFFFFF; border:0; color:black'><center>Data Visualization using Plotly<center><h2>

# Survived or Not (train only)

* The column "Survived" is the target.
* In titanic competition, we have to predict it.
* If a passenger's  <span style="color:red">"Survived" is 1</span>, it means that he/she could survive, but if <span style="color:blue">it is 0</span>, it means that he/she could not survive.

In [ ]:
train["Survived"] = ["Survived" if i == 1 else "Not Survived" for i in train["Survived"]]

In [ ]:
fig = px.histogram(train, x="Survived",title="How many passengers survived?")
fig.show()

# Pcalss (train and test)

* The column "Pclass" shows the ticket class.

| Pclass | Ticket Class |
| --- | --- |
| 1 |  1st class|
| 2 | 2nd class|
| 3 | 3rd class|

In [13]:
def pclass_changes(df):
    df["Pclass"] = ["1st" if i == 1 else i for i in df["Pclass"]]
    df["Pclass"] = ["2nd" if i == 2 else i for i in df["Pclass"]]
    df["Pclass"] = ["3rd" if i == 3 else i for i in df["Pclass"]]
    
    return df

In [ ]:
train = pclass_changes(train)
test = pclass_changes(test)

In [ ]:
fig = px.histogram(train, x="Pclass",title="Pclass(train.csv)",labels={"Pclass":"Ticket Class"})
fig.show()

In [ ]:
fig = px.histogram(test, x="Pclass",title="Pclass(test.csv)",labels={"Pclass":"Ticket Class"})
fig.show()

# Sex (train and test)

In [ ]:
fig = px.histogram(train, x="Sex",title="Male or Female(train.csv)")
fig.show()

In [ ]:
fig = px.histogram(test, x="Sex",title="Male or Female(test.csv)")
fig.show()

# Age (train and test)

In [ ]:
fig = px.histogram(train, x="Age",title="How old were the passengers? (train.csv)")
fig.show()

In [ ]:
fig = px.histogram(test, x="Age",title="How old were the passengers? (test.csv)")
fig.show()

# SibSp (train and test)

* The column "SibSp" shows the number of siblings / spouses aboard the Titanic.

In [ ]:
fig = px.histogram(train, x="SibSp",
                   title="Did the passengers board with their siblings or spouse? (train.csv)",
                  labels={"SibSp":"Number of siblings or spouse abroad the Titanic"})
fig.show()

In [ ]:
fig = px.histogram(test, x="SibSp",
                   title="Did the passengers board with their siblings or spouse? (test.csv)",
                  labels={"SibSp":"Number of siblings or spouse abroad the Titanic"})
fig.show()

# Parch (train and test)

* The column Parch shows the number of  parents / children aboard the Titanic.

In [ ]:
fig = px.histogram(train, x="Parch",
                   title="Did the passengers board with their parents or chidren? (train.csv)",
                  labels={"Parch":"Number of parents or children abroad the Titanic"})
fig.show()

In [ ]:
fig = px.histogram(test, x="Parch",
                   title="Did the passengers board with their parents or children? (test.csv)",
                  labels={"Parch":"Number of parents or children abroad the Titanic"})
fig.show()

# Fare (train and test)

In [ ]:
fig = px.histogram(train, x="Fare",title="How much did the passengers pay to get on the Titanic? (train.csv)")
fig.show()

In [ ]:
fig = px.histogram(test, x="Fare",title="How much did the passengers pay to get on the Titanic? (test.csv)")
fig.show()

# Embarked(train and test)

* The column "Embarked" shows the name of port where passengers went on board.

In [ ]:
def Embarked_changes(df):
    #df["Embarked"] = df["Embarked"].dropna()
    df["Embarked"] = ["Cherbourg" if i == "C" else i for i in df["Embarked"] ]
    df["Embarked"] = ["Queenstown" if i == "Q" else i for i in df["Embarked"]]
    df["Embarked"] = ["Southampton" if i == "S" else i for i in df["Embarked"]]
    
    return df

In [ ]:
train = Embarked_changes(train)
test = Embarked_changes(test)

In [ ]:
fig = px.histogram(train, x="Embarked",
                   title="Which port did the passengers embark? (train.csv)",
                   labels={"Embarked":"Port of Embarkation"})
fig.show()

In [ ]:
fig = px.histogram(test, x="Embarked",
                   title="Which port did the passengers embark? (test.csv)",
                   labels={"Embarked":"Port of Embarkation"})
fig.show()

<h2 style='background:#FFFFFF; border:0; color:black'><center>Data Analytics with Graph<center><h2>

# The correlation between "Survived" and "Sex"

In [ ]:
survived_or_not_male = [0,0]
survived_or_not_female = [0,0]

for i in train[train["Survived"] != "Survived"]["Sex"]:
    if i == "male":
        survived_or_not_male[0] += 1
    elif i == "female":
        survived_or_not_female[0] += 1

for i in train[train["Survived"] == "Survived"]["Sex"]:
    if i == "male":
        survived_or_not_male[1] += 1
    elif i == "female":
        survived_or_not_female[1] += 1

In [ ]:
survived_sex = pd.DataFrame(data=[[survived_or_not_male[0],survived_or_not_female[0]],[survived_or_not_male[1],survived_or_not_female[1]]],
                           columns=['male','female'],index=['Not Survived','Survived'])

In [ ]:
survived_sex

In [ ]:
fig = px.bar(survived_sex,x="male",title="Survived or Not (Male)")
fig.show()

In [ ]:
fig = px.bar(survived_sex,x="female",title="Survived or Not (Female)")
fig.show()

# Survival Rate by gender
* Male: <span style="color: blue; ">18.89%</span> (109/577)
* Female: <span style="color: red; ">74.20%</span> (233/314)

* In this notebook,especially <span style="color: red; ">high</span>/<span style="color: blue; ">low</span> rates are written in <span style="color: red; ">red</span>/<span style="color: blue; ">blue</span>.

* These graphs imply that more women survived than men.

# The correlation between "Survived" and "Age"

In [ ]:
survived_age = [0,0,0,0]
survived_not_age = [0,0,0,0]
for i in train[train["Survived"] != "Survived"]["Age"]:
    if i < 20.0:
        survived_not_age[0] += 1
    elif i < 40.0:
        survived_not_age[1] += 1
    elif i < 60.0:
        survived_not_age[2] += 1
    else:
        survived_not_age[3] += 1
        
for i in train[train["Survived"] == "Survived"]["Age"]:
    if i < 20.0:
        survived_age[0] += 1
    elif i < 40.0:
        survived_age[1] += 1
    elif i < 60.0:
        survived_age[2] += 1
    else:
        survived_age[3] += 1

In [ ]:
survived_or_not_age = pd.DataFrame(data=[[survived_age[0],survived_age[1],survived_age[2],survived_age[3]],[survived_not_age[0],survived_not_age[1],survived_not_age[2],survived_not_age[3]]],
                           columns=['0~20','20~40','40~60','60~'],index=['Survived','Not Survived'])

In [ ]:
survived_or_not_age

In [ ]:
fig = px.bar(survived_or_not_age,x="0~20",title="Survived or Not (Age < 20)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_or_not_age,x="20~40",title="Survived or Not (20 <= Age < 40)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_or_not_age,x="40~60",title="Survived or Not (40 <= Age < 60)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_or_not_age,x="60~",title="Survived or Not (60 <= Age)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

# Survival Rate by age
* 0~20: <span style="color: red; ">48.17%</span> (79/164)
* 20~40: 38.75% (150/387)
* 40~60: 39.41% (54/137)
* 60~ :  <span style="color: blue; ">29.06%</span> (59/203)

* These graphs imply that passengers under 20 survived more than other passengers.

# The correlation between "Survived" and "Pclass"

In [ ]:
survive_pclass = [0,0,0]
survive_not_pclass = [0,0,0]
for i in train[train["Survived"] != "Survived"]["Pclass"]:
    if i == "1st":
        survive_not_pclass[0] += 1
    elif i == "2nd":
        survive_not_pclass[1] += 1
    else:
        survive_not_pclass[2] += 1
for i in train[train["Survived"] == "Survived"]["Pclass"]:
    if i == "1st":
        survive_pclass[0] += 1
    elif i == "2nd":
        survive_pclass[1] += 1
    else:
        survive_pclass[2] += 1

In [ ]:
survived_pclass = pd.DataFrame(data=[[survive_not_pclass[0],survive_not_pclass[1],survive_not_pclass[2]],[survive_pclass[0],survive_pclass[1],survive_pclass[2]]],
                           columns=['1st','2nd','3rd'],index=['Not Survived','Survived'])

In [ ]:
survived_pclass

In [ ]:
fig = px.bar(survived_pclass,x="1st",title="Survived or Not (1st Class)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_pclass,x="2nd",title="Survived or Not (2nd Class)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_pclass,x="3rd",title="Survived or Not (3rd Class)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

# Survival Rate by class
* 1st Class: <span style="color: red; ">62.96%</span> (136/216)
* 2nd Class: 47.28% (87/184)
* 3rd Class: <span style="color: blue; ">24.23%</span> (119/491)

* These graphs imply that 1st class passengers survived more than other and most of 3rd passengers could not survive.

# The correlation between "Survived" and "Embarked"

In [ ]:
survived_port = [0,0,0]
survived_not_port = [0,0,0]
for i in train[train["Survived"] != "Survived"]["Embarked"]:
    if i == "Cherbourg":
        survived_not_port[0] += 1
    elif i == "Queenstown":
        survived_not_port[1] += 1
    elif i == "Southampton":
        survived_not_port[2] += 1
for i in train[train["Survived"] == "Survived"]["Embarked"]:
    if i == "Cherbourg":
        survived_port[0] += 1
    elif i == "Queenstown":
        survived_port[1] += 1
    elif i == "Southampton":
        survived_port[2] += 1

In [ ]:
survived_or_not_port = pd.DataFrame(data=[[survived_not_port[0],survived_not_port[1],survived_not_port[2]],[survived_port[0],survived_port[1],survived_port[2]]],
                           columns=['Cherbourg','Queenstown','Southampton'],index=['Not Survived','Survived'])

In [ ]:
survived_or_not_port

In [ ]:
fig = px.bar(survived_or_not_port,x="Cherbourg",title="Survived or Not (Port:Cherbourg)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_or_not_port,x="Queenstown",title="Survived or Not (Port:Queenstown)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_or_not_port,x="Southampton",title="Survived or Not (Port:Southampton)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

# Survival Rate by port
* Cherbourg: <span style="color: red; ">55.35%</span> (93/168)
* Queenstown: 38.96% (30/77)
* Southampton: 33.69% (217/644)

* These graphs imply that passengers embarked at Cherbourg survived more than other passengers.

# The correlation between Survived and "Cabin"

In [ ]:
train["Cabin"].unique()

* We'll classify passengers by Cabin initials(A,B,C,D,E,F)
* Cabin "T" and "G6" and missing values will be excluded.

In [ ]:
cabin_initial = [0,0,0,0,0,0]
cabin_initial_not = [0,0,0,0,0,0]
for i in train[train["Survived"] == "Survived"]["Cabin"]:
    if list(str(i))[0] == "A":
        cabin_initial[0] += 1
    elif list(str(i))[0] == "B":
        cabin_initial[1] += 1
    elif list(str(i))[0] == "C":
        cabin_initial[2] += 1
    elif list(str(i))[0] == "D":
        cabin_initial[3] += 1
    elif list(str(i))[0] == "E":
        cabin_initial[4] += 1
    elif list(str(i))[0] == "F":
        cabin_initial[5] += 1
for i in train[train["Survived"] != "Survived"]["Cabin"]:
    if list(str(i))[0] == "A":
        cabin_initial_not[0] += 1
    elif list(str(i))[0] == "B":
        cabin_initial_not[1] += 1
    elif list(str(i))[0] == "C":
        cabin_initial_not[2] += 1
    elif list(str(i))[0] == "D":
        cabin_initial_not[3] += 1
    elif list(str(i))[0] == "E":
        cabin_initial_not[4] += 1
    elif list(str(i))[0] == "F":
        cabin_initial_not[5] += 1

In [ ]:
survived_cabin = pd.DataFrame(data=[[cabin_initial[0],cabin_initial[1],cabin_initial[2],cabin_initial[3],cabin_initial[4],cabin_initial[5]],
                                     [cabin_initial_not[0],cabin_initial_not[1],cabin_initial_not[2],cabin_initial_not[3],cabin_initial_not[4],cabin_initial_not[5]]],
                                    columns=["Cabin Initials A","Cabin Initials B","Cabin Initials C","Cabin Initials D","Cabin Initials E","Cabin Initials F"],index = ["Survived","Not Survived"])

In [ ]:
survived_cabin

In [ ]:
fig = px.bar(survived_cabin,x="Cabin Initials A",title="Survived or Not (Cabin: initials A)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_cabin,x="Cabin Initials B",title="Survived or Not (Cabin: initials B)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_cabin,x="Cabin Initials C",title="Survived or Not (Cabin: initials C)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_cabin,x="Cabin Initials D",title="Survived or Not (Cabin: initials D)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_cabin,x="Cabin Initials E",title="Survived or Not (Cabin: initials E)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

In [ ]:
fig = px.bar(survived_cabin,x="Cabin Initials F",title="Survived or Not (Cabin: initials F)")
fig.update_xaxes(title_text='The number of Passengers')
fig.update_yaxes(title_text='')
fig.show()

# Survival Rate by room number initials
* A: <span style="color: blue; ">46.66%</span> (7/15)
* B: 74.46% (35/47)
* C: 71.42% (35/49)
* D: 75.75% (25/33)
* E: 75.00% (24/32)
* F: 61.53% (8/13)

* These graphs imply that there is a correlation between Survived and Cabin.
* Survival rate of passengers whose cabin(room number) starts with "A" was less than 50%.

<h2 style='background:#FFFFFF; border:0; color:black'><center>The number of missing values(NaN)<center><h2>

# Columns contain missing values

In [ ]:
train.isnull().sum()

In [ ]:
test.isnull().sum()

In [ ]:
missing_train = train.isnull().sum()
missing_test = test.isnull().sum()

In [ ]:
missing_values = pd.DataFrame(data=[missing_train,missing_test],index=['train','test'])

In [ ]:
missing_values = missing_values.T

In [ ]:
missing_values

* "Survived" in the test column is NaN because test.csv doesn't have "Survived" column.

In [ ]:
fig = px.bar(missing_values,x="train",title="Missing Values(train.csv)")
fig.update_xaxes(title_text='The number of missing values')
fig.update_yaxes(title_text='Columns')
fig.show()

In [ ]:
fig = px.bar(missing_values,x="test",title="Missing Values(test.csv)")
fig.update_xaxes(title_text='The number of missing values')
fig.update_yaxes(title_text='Columns')
fig.show()

# Thank you for reading!  
# If you like, feel free to upvote!